.Button {
  font-size: 0.8rem;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
  background-color: #ed4300!important; /* Set the background color to orange */
  color: white!important; /* Set the text color to white */
}

.Button:hover {
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
}

.Button:hover:active,
.Button:active {
  background-color: #ed4300; /* Keep the active state with orange background */
}

.Button:focus {
  background-color: #ed4300; /* Maintain focus state with orange background */
}

.ButtonFollow {
  background-color: rgb(167, 97, 17)!important;
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}

.Text {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}

.Spacing {
  display:flex;
  align-items: center;
  justify-content: center;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 5%;
  margin-right: 5%;
}

.Margin {
  margin-bottom: 30px;
  margin-top: 30px;
}

.Body {
  display: flex;
  flex-direction: row;
}


