.NavBar {
  background-color: #000000;
  margin: 0px;
}

.NavLink {
  padding: 2px;
  color: rgb(255, 255, 255);
}

.Active i {
  color: #085e0d;
}

.Active {
  color: #085e0d;
}

.Toggle {
  border-color: #ed4300 !important;
  background-color: rgb(64, 63, 63);
}
