.NavBar {
  background-color: #000000;
  margin:0px;
}


/* Navbar text color */
.NavLink {
  padding: 5px;
  color: rgb(255, 255, 255);
}

.Active i {
  color: #085e0d;
}

/* Burger Menu styling */
.Toggle {
  border-color: #ed4300!important;
  background-color:rgb(64, 63, 63);
}
