/* Existing styles */
h3, p {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Roboto", sans-serif; 
  white-space: pre-wrap;
  word-wrap: break-word;
}

.ButtonSpace {
  margin-top: 50px;
  margin-bottom: 50px;
}

.PerformanceSpacing {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.PerformanceContent {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SearchBar input {
  border-radius: 20px;
  color: #242a3d;
  padding-left: 40px;
  margin-bottom: 16px;
}

.SearchIcon {
  position: absolute;
  font-size: 1.2rem;
  padding: 9px;
  padding-left: 15px;
}

.SearchIcon:hover {
  cursor: default;
  color: #cfced3;
}

/* media query for screens smaller than 768px */
@media (max-width: 767px) {
  .PerformanceSpacing {
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }
 

  h3, p {
    font-size: 16px; 
    margin-bottom: 30px; 
  }

 .ButtonSpace {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
