h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
}

.Background {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.Video {
    min-width: 100%; 
    min-height: 100vh; 
    object-fit: cover; 
    z-index: -1; 
}

.Content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color:rgba(8, 8, 8, 0.644);
    
}