.App {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  background-color: #f8f8f8d2;
  min-height: 100vh;
}

.Content {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #dadadf;
}

.Center {
  align-items: center;
  justify-content: center;
}

.Main {
  padding-top: 120px;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

* {
  box-sizing: border-box;
}

a:hover {
  text-decoration: none;
}

a {
  color: green;
}

a:hover {
  color: #085e0d;
  transition: color ease-in-out 0.3s;
}

input[type="file"] {
  display: none;
}

i {
  color: #ed4300;
  font-size: 1rem;
  padding: 17px;
  vertical-align: middle;
}

figure {
  text-align: center;
  display: inline-block;
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: #888;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
